# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [72]:
import pandas as pd
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, balanced_accuracy_score, precision_score, recall_score, f1_score

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
data.shape

(506, 14)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

The dataset was already divided into data and target, now we only need to keep 20% of the values for testing.

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [20]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [21]:
y_predicted_train = lr.predict(X_train)
y_predicted_test = lr.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

For Linear Regression, R-Squared is the default score:

In [17]:
lr.score(X_train, y_train)

0.7217227695330801

In [19]:
lr.score(X_test, y_test)

0.8040512374259876

## 4. Calculate and print mean squared error for both the training and the testing set.

In [24]:
mse_train = mean_squared_error(y_predicted_train, y_train)
mse_test = mean_squared_error(y_predicted_test, y_test)
print(f"mse_train: {mse_train}")
print(f"mse_test: {mse_test}")

mse_train: 23.394502564297486
mse_test: 16.70245555432084

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [26]:
mae_train = mean_absolute_error(y_predicted_train, y_train)
mae_test = mean_absolute_error(y_predicted_test, y_test)
print(f"mae_train: {mae_train}")
print(f"mae_test: {mae_test}")

mae_train: 3.3448174802315576
mae_test: 3.210754699532262

## Classification Model Evaluation

In [27]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [59]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [53]:
data.shape

(150, 5)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

First I prepare the model:

In [32]:
log = LogisticRegression(max_iter=10000)

Then I train the model with the data I've separated for training:

In [33]:
log.fit(X_train, y_train)

C:\Users\anton\miniconda3\envs\ironhack\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=10000)

Now I predict with the data I've used for training:

In [40]:
y_predicted_train = log.predict(X_train)
y_predicted_train[:10]

array([0, 0, 2, 0, 1, 0, 0, 1, 2, 2])

And this is not required, but I want to be sure, so I compare the values predicted for the data I'm testing, and the real values for the data (i.e. the target):

In [42]:
y_train[:10]

     class
38       0
37       0
83       1
32       0
62       1
7        0
39       0
51       1
104      2
145      2

The result is not the same, because my model is predicting the values, but is very accurate.  
I do the same now with the data I've kept for testing:

In [41]:
y_predicted_test = log.predict(X_test)
y_predicted_test[:10]

array([0, 0, 1, 0, 1, 0, 0, 0, 1, 0])

In [43]:
y_test[:10]

    class
13      0
31      0
71      1
30      0
81      1
9       0
48      0
28      0
52      1
19      0

## 8. Calculate and print the accuracy score for both the training and the testing set.

For Logistic Regression, accuracy is the default score:

In [44]:
log.score(X_train, y_train)

0.9666666666666667

In [46]:
log.score(X_test, y_test)

1.0

Wow...

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [61]:
balanced_accuracy_score(
    y_test["class"],
    y_predicted_test
)

1.0

In [62]:
balanced_accuracy_score(
    y_train["class"],
    y_predicted_train
)

0.9674796747967479

## 10. Calculate and print the precision score for both the training and the testing set.

In [80]:
precision_score(
    y_test["class"],
    y_predicted_test, 
    average = "macro"
)

1.0

In [79]:
precision_score(
    y_train["class"],
    y_predicted_train, 
    average = "macro"
)

0.9681971774995031

## 11. Calculate and print the recall score for both the training and the testing set.

In [78]:
recall_score(
    y_test["class"],
    y_predicted_test, 
    average = "macro"
)

1.0

In [77]:
recall_score(
    y_train["class"],
    y_predicted_train, 
    average = "macro"
)

0.9674796747967479

## 12. Calculate and print the F1 score for both the training and the testing set.

In [75]:
f1_score(
    y_test["class"],
    y_predicted_test, 
    average = "macro"
)

1.0

In [76]:
f1_score(
    y_train["class"],
    y_predicted_train, 
    average = "macro"
)

0.9674603174603176

## 13. Generate confusion matrices for both the training and the testing set.

In [52]:
pd.crosstab(
    y_train["class"],
    y_predicted_train
)

col_0   0   1   2
class
0      38   0   0
1       0  38   3
2       0   1  40

In [54]:
pd.crosstab(
    y_test["class"],
    y_predicted_test
)

col_0   0  1  2
class
0      12  0  0
1       0  9  0
2       0  0  9

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.