# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, balanced_accuracy_score, precision_score

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [3]:
data.shape

(506, 14)

In [4]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [6]:
data.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [7]:
data.MEDV.sample(10)

9      18.9
148    17.8
470    19.9
262    48.8
177    24.6
277    33.1
292    27.9
150    21.5
474    13.8
188    29.8
Name: MEDV, dtype: float64

In [8]:
predictors = data.drop("MEDV", axis=1)
target = data.MEDV

In [9]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2)

In [10]:
X_train.shape

(404, 13)

In [11]:
X_test.shape

(102, 13)

In [12]:
predictors[:1]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [13]:
lr = LinearRegression()

In [14]:
predictors[:5]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
target[:5]

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [16]:
lr.fit(X_train, y_train)

LinearRegression()

In [17]:
y_p_train = lr.predict(X_train)
y_p_test = lr.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [18]:
# default score for LinearRegression

print(f"Train R-squared is: {lr.score(X_train, y_train)}")
print(f"Test R-squared is: {lr.score(X_test, y_test)}")

Train R-squared is: 0.7188028654888915
Test R-squared is: 0.8120710377462823

## 4. Calculate and print mean squared error for both the training and the testing set.

In [19]:
mean_s_error_train = mean_squared_error(y_p_train, y_train)
mean_s_error_test = mean_squared_error(y_p_test, y_test)

print (f" Mean Squared error for train set is: {mean_s_error_train}")
print (f" Mean Squared error for test set  is: {mean_s_error_test}")

 Mean Squared error for train set is: 23.317147769972316
 Mean Squared error for test set  is: 16.76369405841226

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [20]:
mean_a_error_train = mean_squared_error(y_p_train, y_train)
mean_a_error_test = mean_squared_error(y_p_test, y_test)

print (f" Mean absolute error for train set is: {mean_a_error_train}")
print (f" Mean absolut error for tesn set  is: {mean_a_error_test}")

 Mean absolute error for train set is: 23.317147769972316
 Mean absolut error for tesn set  is: 16.76369405841226

## Classification Model Evaluation

In [21]:
from sklearn.datasets import load_iris

data2 = load_iris()

X = pd.DataFrame(data2["data"], columns = data2["feature_names"])
y = pd.DataFrame(data2["target"], columns = ["class"])

data2 = pd.concat([X, y], axis=1)

In [22]:
data2.shape

(150, 5)

In [23]:
data2.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
148,6.2,3.4,5.4,2.3,2
56,6.3,3.3,4.7,1.6,1
141,6.9,3.1,5.1,2.3,2
129,7.2,3.0,5.8,1.6,2
94,5.6,2.7,4.2,1.3,1

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [24]:
data2.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'class'],
      dtype='object')

In [25]:
predictors2 = data2.drop("class", axis=1)
target2 = data2["class"]

In [26]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(predictors2, target2, test_size=0.2)

In [27]:
X_train2.shape

(120, 4)

In [28]:
X_test2.shape

(30, 4)

In [29]:
predictors2[:1]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [30]:
log_reg = LogisticRegression(max_iter=10000)

In [31]:
log_reg.fit(X_train2, y_train2)

LogisticRegression(max_iter=10000)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [32]:
log_reg.score(X_train2, y_train2)

0.9833333333333333

In [33]:
log_reg.score(X_test2, y_test2)

0.9333333333333333

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

## 10. Calculate and print the precision score for both the training and the testing set.

## 11. Calculate and print the recall score for both the training and the testing set.

## 12. Calculate and print the F1 score for both the training and the testing set.

## 13. Generate confusion matrices for both the training and the testing set.

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.